{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center about-margin-spacer">
<div class="card p-5 rounded-5 col-md-5 card-bg text-white">
    <h1 class="mb-4">About This Project</h1>

    <p class="lead">
        This is an Emotion Classification System built using a
        <strong>DistilBERT Transformer model</strong> fine-tuned on over 100,000 sentences.
    </p>

    <hr class="my-4">

    <h3>📄Details:</h3>
    <ul>
        <li><strong>Model:</strong> DistilBERT (66 Million Parameters).</li>
        <li><strong>Tokenizer:</strong> DistilertTokenizerFast.</li>
        <li><strong>Dataset:</strong> A custom fusion of 3 datasets (106k samples).</li>
        <li><strong>Performance:</strong> Achieved ~89% accuracy compared to ~82% accuracy of a Logistic Regression model which used a TF-IDF vectorizer.</li>
    </ul>
    <a href="/" class="btn btn-outline-primary mt-3">Try the Model &rarr;</a>
</div>
</div>
{% endblock %}